.App {
  height: 100vh;
  background-color: #111619;
}

.border-none {
  border-radius: 0 !important;
}

.transparent {
  background-color: transparent !important;
}

.cus-primary {
  color: #111619 !important;
}